<div class="container-fluid">

    <div class="">
        <h2 class="text-center">
            Nuestro Trabajo
        </h2>
        <hr>
        <p>
            En Animal's ofrecemos una asistencia completa y de calidad a tu mascota. Nuestro principal objetivo es
            mantener la salud y el bienestar de nuestros animales y ayudarlos a restablecerse cuando están enfermos.
            Para ello, contamos con un personal altamente cualificado e instalaciones modernas y bien equipadas.
        </p>
    </div>
    <div class="servicios">
        <section>
            <div class="row">
                <div class="col-sm-1">
                    <img src="../../assets/estetica.png" alt="" style="width: 64px; height: 64px;">
                </div>
                <div class="col my-auto">
                    <h4>Estetica</h4>
                </div>

            </div>
            <hr>
            <div class="row">
                <p>
                    Nuestro servicio de peluquería canina y felina ofrece una amplia variedad de cortes de pelo y baños,
                    tanto estéticos como terapéuticos. Se realizan corte comercial y con tijera y cada animal es bañado
                    con el champú y acondicionador más adecuado para su tipo de piel y pelo. Además, se cortan las uñas,
                    limpian los oídos y vacían los sacos anales. Igualmente, se procuran tratamientos de champuterapia y
                    corte terapéutico a los animales con problemas dermatológicos que lo requieran.
                </p>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-1">
                    <img src="../../assets/adiestramiento.png" alt="" style="width: 64px; height: 64px;">
                </div>
                <div class="col my-auto">
                    <h4>Adiestramiento canino</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <p>
                    Animal's brinda el mejor servicio de calidad de adiestramiento o entrenamiento a perros en el estado
                    de Querétaro. Somos expertos en arreglar conductas de tu perro como posesión de objetos, miedo,
                    ansiedad, agresión en correa, reactividad en correa, jalarse en correa, brincar en personas,
                    destrucción dentro de la casa, problemas con ladridos, perro corriendo fuera de la casa, gruñido,
                    mordidas y más. A su vez, Animal's se especializa en entrenamiento de obediencia que incluye
                    caminado a lado del perro en el paseo, sentado/quieto, echado/quieto, y venir a llamado.
                    <br>
                    Si estás buscando que tu perro venga cuando le hables, se siente cuando se lo pidas, se eche en
                    donde sea y vaya a su lugar cuando lleguen visitas a tu casa sin tener correa puesta y a cualquier
                    distancia, ¡somos lo que necesitas!.
                    <br>
                    Animal's ofrece apoyo y ayuda incondicional a todos nuestros clientes mientras tengan a su perro.
                </p>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-1">
                    <img src="../../assets/hotel.png" alt="" style="width: 64px; height: 64px;">
                </div>
                <div class="col my-auto">
                    <h4>Hotel</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <p>
                    Entre nuestras instalaciones contamos con guarderías para perros y gatos. Para acoger a tus
                    mascotas, es imprescindible que estén vacunados al día y que sean desparasitados antes de su
                    estancia. Salvo que necesiten dieta específica o de prescripción, serán alimentados con pienso de
                    alta gama sin coste adicional:
                </p>
                <ol>
                    <li>
                        <b>Guardería canina:</b> en la carretera de A-127, de Ejea a Sádaba, a tan sólo 3 km de nuestro
                        centro, contamos con 3 cheniles. Cada box cuenta con una estancia cubierta, zona individual para
                        guardar sus enseres y zona de alimentación. Para cada box hay un espacio equivalente al aire
                        libre, al que cada perro tiene acceso durante todo el día. Además, todos los perros son paseados
                        dos veces al día durante su estancia.
                    </li>
                    <li>
                        <b>Guardería felina:</b> dentro del programa “Clínica Amiga de los Gatos” contamos con un
                        alojamiento para los felinos cuando tengas que ausentarte unos días. Se trata de un espacio
                        adaptado, con enriquecimiento ambiental, donde tu gato podrá jugar, dormir y alimentarse casi
                        como si estuviera en casa.
                    </li>
                </ol>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-1">
                    <img src="../../assets/medicina.png" alt="" style="width: 64px; height: 64px;">
                </div>
                <div class="col my-auto">
                    <h4>Medicina</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <p>
                    Como prevenir es mejor que curar, te daremos los mejores consejos para el cuidado de tu mascota. Ven
                    a informarte acerca de los planes vacunales y cómo desparasitar a tus animales.
                    <br>
                    Recibe información acerca de cómo educar a los cachorritos o qué alimentación darles. Hacemos planes
                    de prevención para animales que van a viajar al extranjero, geriátricos o que sufren determinadas
                    patologías.
                    <br>
                    Realizamos chequeos periódicos de salud, análisis de leishmania (enfermedad del mosquito), filaria
                    (gusano del corazón), controles de peso y mucho más. Acércate y pregunta.
                </p>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-1">
                    <img src="../../assets/tienda.png" alt="" style="width: 64px; height: 64px;">
                </div>
                <div class="col my-auto">
                    <h4>Articulos</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <p>
                    En Animal's tenemos el sueño de ser agentes de cambio en la industria para mascotas. Queremos ser
                    pieza clave en la transformación digital de la industria y al mismo tiempo ayudar a las
                    veterinarias, pet shops, groomers y demás profesionales de la industria, a ser mas exitosos y
                    rentables.
                </p>
            </div>
        </section>
    </div>
</div>
<br>