<div class="container-fluid">
    <section>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../assets/estetica.png" alt="" style="width: 64px; height: 64px;">
            </div>
            <div class="col my-auto">
                <h4>Estetica</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../assets/adiestramiento.png" alt="" style="width: 64px; height: 64px;">
            </div>
            <div class="col my-auto">
                <h4>Adiestramiento canino</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../assets/hotel.png" alt="" style="width: 64px; height: 64px;">
            </div>
            <div class="col my-auto">
                <h4>Hotel</h4>
            </div>
        </div>
        
    </section>
    <section>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../assets/medicina.png" alt="" style="width: 64px; height: 64px;">
            </div>
            <div class="col my-auto">
                <h4>Medicina</h4>
            </div>
        </div>
        
    </section>
    <section>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../assets/tienda.png" alt="" style="width: 64px; height: 64px;">
            </div>
            <div class="col my-auto">
                <h4>Articulos</h4>
            </div>
        </div>
        
    </section>
</div>
