<!-- Footer -->
<footer class="page-footer font-small red pt-4">
    <div class="text-center">
        <h3>Mas información de PATITAS A CASA</h3>
        <p>Esta veterinaria nos encargamos de cuidar la salud y bienestar de tus mascotas,
            en la cual ellos pueden sentirse felices.
        </p>
    </div>

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3">
                <div class="col">
                    <h3>Redes sociales</h3>
                    <div class="row">
                        <img src="">
                        <label>Siguenos en Facebook</label>
                    </div>

                    <div class="row">
                        <img src="">
                        <label>Siguenos en Instagram</label>
                    </div>

                    <div class="row">
                        <img src="">
                        <label>Correo electronico</label>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3">
                <div class="col">
                    <h3>Información del contacto</h3>
                    <div class="row">
                        <label>Ubicados en Instituto tecnologico de Queretaro</label>
                    </div>
                    <div class="row">
                        <label></label>
                    </div>
                    <div class="row">
                        <label>Numero de telefono: 7443379964</label>
                    </div>
                    <div class="row">
                        <label>Correo electronico : stephanii.yared@gmail.com</label>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

        </div>
    </div>

    <div class="FooterEnd">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
    </div>
</footer>