<header id="main-header">
    <nav>
      
            <a routerLink="/principal" routerLinkActive="active" title="Ir a inicio">Inicio</a>
            <a routerLink="/promociones" routerLinkActive="active" title="Promociones">Promociones</a>
            <a routerLink="/trabajo" routerLinkActive="active" title="Nuestro trabajo">Nuestro trabajo</a>
            <a  routerLink="/tienda" routerLinkActive="active" title="Tienda">Tienda</a>
        
    </nav>
    <div id="logos">
<figure>
        <img src ="../../assets/header.jpg" alt="Header">

</figure>
    </div>
    </header>